body{
    background-color: rgb(247, 244, 244);
}

#allStuff{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#questionBox{
    font-size: 30px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 700;
}

#interactiveBox{
    display: flex;
    flex-direction: column;
    background-color: rgb(161, 192, 218);
    width:  300px;
    justify-content: center;
    align-items: center;
    height: 200px;
}


#inputBox{
    padding: 10px;
}

#submitButton{
    padding: 10px;
}